* {
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: #f1f1f1;
}

/* header */

.header {
  padding: 25px;
  text-align: center;
  background-color: black;
}

.header h1{
  color: white;
  font-size: 50px;
}

/* nav */
.topnav{
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}

/* row */


.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn{
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.sample-image{
  width: 50%;
  padding: 20px;
}

.card{
  background-color: white;
  padding: 20px;
  margin-right: 20px;
}


.row::after{
  content: "";
  display: table;
  clear: both;
}


/* footer */
.footer{
  padding: 30px;
  text-align: center;
  background-color: #ddd;
  margin-right: 20px;
}

.footer div{
  width: 100px;
  height: 50px;
  background-color: antiquewhite;
  /* transition: 2s; */
  animation-name: test;
  animation-duration: 5s;
}

/* .footer div:hover{
  width: 150px;
  background-color: green;
} */

@keyframes test{
  from{background-color: aquamarine;}
  to{background-color: red;}
}
/* Responsive */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn{
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 400px) {
  .topnav{
    float: none;
    width: 100%;
  }
}

