

/* .back-page{
  background-color: aquamarine;
  width: 700px;
  height: 350px;
  position: relative;
  z-index: 1;
} */

.back-page{
  background-color: aquamarine;
  width: 700px;
  height: 350px;
  padding: 1em;
  position: absolute;
  z-index: 3;
  left: 350px;
  margin-top: 50px;
}

/* .middle-page{
  background-color: lightgreen;
  width: 600px;
  height: 300px;
  position: relative;
  z-index: 2;
  top: 25px;
  bottom: 25px;
  right: 50px;
  left: 50px;
} */

.middle-page{
  background-color: lightgreen;
  width: 600px;
  height: 300px;
  position: absolute;
  z-index: 2;
  left: 70px;
  right: 50px;
  top: 35px;
}

form h2{
  background-color: aqua;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* .login-page{
  border: 2px solid black;
  text-align: center;
  width: 500px;
  height: 250px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  top: 25px;
  bottom: 25px;
  right: 50px;
  left: 50px;
} */

.login-page{
  background-color: #fff;
  border: 2px solid black;
  text-align: center;
  z-index: 1;
  width: 500px;
  height: 250px;
  position: absolute;
  margin: 20px 20px;
  left: 25px;
}

label, input{
  display: block;
}

input{
  height: 25px;
  margin-left:auto;
  margin-right:auto;
}

input[type='submit']{
  width: 175px;
  padding: 5px;
}

.login-page input:focus{
  background-color: lightgreen;
}

footer{
  text-align: center;
  /* background-color: #fff; */
  position: relative;
  top: 380px;
}