.parent-div{
  background-color: lightblue;
  width: 500px;
  height: 500px;
  position: relative;
}

.child-div{
  background-color: brown;
  width: 100px;
  height: 80px;
  position: absolute;
  top: 0;
  bottom: 50%;
  right: 50%;
  left: 0;
}
